<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
<div id="waline" class="waline-container"></div>
<style>
  .waline-container {
    background-color: var(--card-background);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);
    padding: var(--card-padding);
    --waline-font-size: var(--article-font-size);
  }
  .waline-container .wl-count {
    color: var(--card-text-color-main);
  }
</style>

{{- $showReaction := (default true .Params.reaction) -}}
{{- with .Site.Params.comments.waline -}}
{{- $config := dict "el" "#waline" "dark" `html[data-scheme="dark"]` -}}
{{- $serverURL := or (index . "serverURL") (index . "serverurl") -}}
{{- if $serverURL -}}
  {{- $config = merge $config (dict "serverURL" $serverURL) -}}
{{- end -}}
{{- $replaceKeys := dict "serverurl" "serverURL" "requiredmeta" "requiredMeta" "wordlimit" "wordLimit" "pagesize" "pageSize" "imageuploader" "imageUploader" "texrenderer" "texRenderer" "commentsorting" "commentSorting" "recaptchav3key" "recaptchaV3Key" "turnstilekey" "turnstileKey" -}}
{{- $replaceLocaleKeys := dict "reactiontitle" "reactionTitle" "gifsearchplaceholder" "gifSearchPlaceholder" "nickerror" "nickError" "mailerror" "mailError" "wordhint" "wordHint" "cancellike" "cancelLike" "cancelreply" "cancelReply" "uploadimage" "uploadImage" -}}

{{- range $key, $val := . -}}
  {{- if ne $val nil -}}
    {{- $replaceKey := index $replaceKeys $key -}}
    {{- $k := default $key $replaceKey -}}
    {{- if eq $k "locale" -}}
      {{- $locale := dict -}}
      {{- range $lkey, $lval := $val -}}
        {{- if ne $lval nil -}}
          {{- $replaceLKey := index $replaceLocaleKeys $lkey -}}
          {{- $lk := default $lkey $replaceLKey -}}
          {{- $locale = merge $locale (dict $lk $lval) -}}
        {{- end -}}
      {{- end -}}
      {{- $config = merge $config (dict $k $locale) -}}
    {{- else if eq $k "reaction" -}}
      {{- $config = merge $config (dict $k (cond $showReaction $val false)) -}}
    {{- else -}}
      {{- $config = merge $config (dict $k $val) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<script type="application/json" id="waline-config">{{ $config | jsonify }}</script>
<script type="module">
  import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.js";
  const configText = document.getElementById("waline-config")?.textContent || "{}";
  const config = JSON.parse(configText);
  if (config.serverURL) init(config);
</script>
{{- end -}}
